body{
    background-color: rgb(51, 51, 51);
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    color:white;
    margin:50px;
}

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    margin:50px;
}

#canvas{
    margin:0;
    width: 100%;
    text-align: center;
}