body{
    background-color: black;
    color: white;
}

#timer_container{
    border: red 1px solid;
    text-align: center;
    margin: 10%;
    font-size: 3rem;
}

#timer_lap_output{
    font-size: 1rem;
}